.container {
  height: auto;
  background-color: blue;
  position: relative;
  overflow-y: scroll;
}

.items {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.mega-menu {
  display: flex;
  flex-direction: row;
}

.mega-menu-sidebar {
  flex-grow:1;
  flex-shrink: 0;
}

.mega-menu-body {
  flex-grow: 4;
}

.mega-menu-body > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}