.container {
  /* width: 100%; */
  height: 75vh;
  background-color: blue;
  /* position: relative; */
  position: relative;
}

.items {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.mega-menu-sidebar {
  /* display: flex;
  flex-direction: column; */
  width: 25%;
  display: inline-block;
}

.mega-menu-body {
  display: inline-block;
  width: 75%;
}

.mega-menu-body > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}