.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border: 1px solid red;
}

.container > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.image {
  width: 1.5rem;
  margin: 0 8px;
}

.title {
  font-size: 0.9em;
  /* margin: 0 8px; */
}

.arrow {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  border-top: 1px solid #7F7F7F;
  border-left: 1px solid #7F7F7F;
  transform: rotate(-45deg);
  margin-left: 10px;
}