.container {
  display: inline-block;
  width: 20vw;
  margin: 5px;
}

.container h5 {
  display: inline-block;
  width: 100%;
  /* border-bottom: 1px solid black; */
  margin: 0;
}

.container h5::after {
  content:"";
  display: block;
  width: 80%;
  height: 2px;
  background-color: #7F7F7F;
}

.container ul {
  display: inline-block;
  width: 100%;
  list-style: none;
  /* font-family: "iransans"; */
  font-size: 0.75em;
  margin: 0;
  padding: 0;
  color: #7F7F7F;
}